<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Berkeley Builds Capacity</h5>
        <p class="grey-text text-lighten-5">We’re Berkeley Builds Capacity! We are a group of volunteers and paid staff working to reduce HIV and the negative consequences associated with related substance use among East Bay college students. We’re a five year collaboration (2010-2015) between the Berkeley Free Clinic and UC Berkeley’s University Health Services funded by SAMHSA.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-5" href="http://www.berkeleyfreeclinic.org">Berkeley Free Clinic</a></li>
          <li><a class="grey-text text-lighten-5" href="http://www.uhs.berkeley.edu">UC Berkeley Student Health Center</a></li>
          <br>
          <a class="waves-effect waves-light btn" href="http://www.berkeleyfreeclinic.org/pages/volunteer"><i class="mdi-action-favorite left"></i>volunteer</a>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Berkeley Free Clinic
    </div>
  </div>
</footer>