<div class="container login">
  <h2>Login</h2>
  <form class="col s12" ng-submit="login(user)"> 
    <div class="row">
      <div class="input-field col s7">
        <i class="mdi-communication-email prefix"></i>
        <input id="icon_email" type="email" class="validate" ng-model="user.email" required>
        <label for="icon_email">Email</label>
      </div>
      <div class="input-field col s7">
        <i class="mdi-action-lock prefix"></i>
        <input id="icon_password" type="password" class="validate" ng-model="user.password" required>
        <label for="icon_password">Password</label>
      </div>
      <div class="col s7">
        <input type="submit" value="Login" class="waves-effect waves-light btn" style="float:right">
      </div>
    </div>
  </form>
</div>